include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include expense_pay *.css
recursive-include expense_pay *.csv
recursive-include expense_pay *.html
recursive-include expense_pay *.ico
recursive-include expense_pay *.js
recursive-include expense_pay *.json
recursive-include expense_pay *.md
recursive-include expense_pay *.png
recursive-include expense_pay *.py
recursive-include expense_pay *.svg
recursive-include expense_pay *.txt
recursive-exclude expense_pay *.pyc